@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-image: url(../img/medical\ theme\ 3.jpg);

}

h1 {
  color: black;
  padding: 15px;
}

header ul li {
  display: inline-block;
  margin: 20px;
}

/*Menu*/ 

a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
 
/*Main*/

.textos {
  text-align: center;
  font-size: 20px;
  color: blue;
}

/*footer*/

footer {
  border: 1px solid black;
  text-align: center;
}

footer ul li {
  list-style-type: none;
}

/*Media Queries*/

.menu{
  color: blue
}
.textos{
  color: blueviolet;

}
/* Mobile view: From 0px to 600px applies the following*/

@media (max-width:600px){
  .menu{
    color:cadetblue
    
  }
  .textos{
    color: rgb(15, 156, 156);
  }
  
  }

 /*Tablet View: from 601px to 990px*/
 @media (min-width:601px) and (max-width:990px){
  .menu {
    color: cornflowerblue;
  }
  .textos{
    color: darkcyan;
  }
 
  }
 
 @media print and (min-width:300px) {
  .menu{
    color: black;

  }
  .textos{
    color: black;
  }
 }

 .fb {
  background-color: rgb(41, 118, 211);
  color:white;
  border: none;
  height: 36px;
  width: 105;
  border-radius: 10px;
  cursor: pointer;
  transition: opacity 0.8s;
 }
 .fb:hover{
  opacity: 0.5;
 }

 .ig {
  background-color: rgb(188, 62, 192);
  color:white;
  border: none;
  height: 36px;
  width: 105;
  border-radius: 10px;
  cursor: pointer;
  transition: opacity 0.8s;
 }
 .ig:hover{
  opacity: 0.5;
 }
 .yt{
  background-color: rgb(245, 0, 0);
  color:white;
  border: none;
  height: 36px;
  width: 105;
  border-radius: 10px;
  cursor: pointer;
  transition: opacity 0.8s;
}
.yt:hover{
 opacity: 0.5;
 }
 .lk{
  background-color: rgb(16, 16, 209);
  color:white;
  border: none;
  height: 36px;
  width: 105;
  border-radius: 10px;
  cursor: pointer;
  transition: opacity 0.8s;
 }
 .lk:hover{
  opacity: 0.5;
 }
 .tktk{
  background-color: rgb(0, 0, 0);
  color:white;
  border: none;
  height: 36px;
  width: 105;
  border-radius: 10px;
  cursor: pointer;
  transition: opacity 0.8s;
 }
 .tktk:hover{
  opacity: 0.5;

 }
 