@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-image: url(../img/medical\ theme\ 3.jpg);

}

h1 {
  color: black;
  padding: 15px;
}

header ul li {
  display: inline-block;
  margin: 20px;
}

/*Menu*/ 

a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
 
/*Main*/

.textos {
  text-align: center;
  font-size: 20px;
  color: blue;
}

/*footer*/

footer {
  border: 1px solid black;
  text-align: center;
}

footer ul li {
  list-style-type: none;
}

/*Media Queries*/

.menu{
  color: blue
}
.textos{
  color: blueviolet;

}
/* Mobile view: From 0px to 600px applies the following*/

@media (max-width:600px){
  .menu{
    color:cadetblue
    
  }
  .textos{
    color: rgb(15, 156, 156);
  }
  
  }

 /*Tablet View: from 601px to 990px*/
 @media (min-width:601px) and (max-width:990px){
  .menu {
    color: cornflowerblue;
  }
  .textos{
    color: darkcyan;
  }
 
  }
 
 @media print and (min-width:300px) {
  .menu{
    color: black;

  }
  .textos{
    color: black;
  }
 }

 /*Hover*/


